.buttonLogout {
  align-items: center;
  margin-left: 5px;
  padding: 10px 20px;
  display: flex;
  font-size: 1.125rem;
  font-weight: bold;
  border: none;
  background-color: transparent;
}

.buttonLogout:hover {
  cursor: pointer;
}
