.buttonLogout {
  align-items: center;
  margin-left: 5px;
  padding: 10px 20px;
  display: flex;
  font-size: 1.125rem;
  font-weight: bold;
  border: none;
  z-index: 10;
  background-color: transparent;

  @media (max-width: 480px) {
    & {
      padding: 0;
    }
  }
}

.buttonLogout:hover {
  cursor: pointer;
}
