.closeModalButton {
  font-size: 2rem;
  z-index: 10;
  background-color: transparent;
  border: none;
  margin-right: -420px;
  margin-top: 45px;

  @media (max-width: 480px) {
    & {
      margin-right: -350px;
      margin-top: 15px;
    }
  }
}
