.header {
  position: sticky;
  top: 0;
  background: white;
  z-index: 1;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);

  .logo {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 50px;
    font-family: var(--font-family-logo);

    @media (max-width: 480px) {
      font-size: 1.5rem;
      margin-left: 0;
    }
  }

  nav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    padding: 10px 0;

    div {
      flex: 1;
      height: 30px;
      align-items: center;
      font-weight: 900;
      text-decoration: none;
      display: flex;

      &:hover {
        cursor: pointer;
      }
    }

    ul {
      list-style-type: none;
      display: flex;
      padding: 0;
      margin: 0;
      text-align: right;

      @media (max-width: 480px) {
        & {
          font-size: 0.8rem;
        }
      }

      &:hover {
        cursor: pointer;
      }

      li {
        align-items: center;
        margin-left: 5px;
        padding: 10px 20px;
        display: flex;
      }

      @media (max-width: 480px) {
        li {
          padding: 0 5px;
          margin-left: 0;
          font-size: 0.8rem;
        }
      }
    }
  }
}

.buttonSignup {
  align-items: center;
  margin-left: 5px;
  padding: 10px 20px;
  display: flex;
  font-size: 1.125rem;
  font-weight: bold;
  border: none;
  background-color: transparent;
}

.buttonSignup:hover {
  cursor: pointer;
}

.profileImage {
  border-radius: 150px;
  margin-right: 30px;
  margin-left: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  object-fit: cover;
}

.profileLink {
  display: flex;

  .profileLinkName {
    margin-top: 10px;
  }
}

.nav {
  display: flex;
  align-items: center;
  background-color: transparent;
  width: 30%;
  @media screen and (max-width: 1000px) {
    position: fixed;
    flex-direction: column;
    background-color: white;
    left: -200%;
    top: 0%;
    height: 100vh;
    width: 100vh;
    z-index: 3;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 80px 0px 0px 50px;
    &Open {
      transition: 0.5s ease-in-out;
      left: 0;
    }
  }
  .navLinks {
    display: flex;
    justify-content: center;
    gap: 20px;
    @media screen and (max-width: 1000px) {
      flex-direction: column;
      border: none;
      font-size: 1.5rem;
    }
  }
}

.hamburgerIcon {
  display: none;
  @media screen and (max-width: 900px) {
    display: flex;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 4;
    font-size: 1.5rem;
    width: 30%;
    align-items: flex-start;
  }
  div {
    @media screen and (max-width: 900px) {
      width: 20px;
      height: 2px;
      background: black;
      margin: 4px;
      transition: 0.3s ease-in;
    }
  }
}
