.header {
  position: sticky;
  top: 0;
  background: white;
  z-index: 1;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);

  .logo {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: var(--font-family-logo);
    margin-left: 30px;
    z-index: 10;

    @media (max-width: 480px) {
      font-size: 1.5rem;
      margin-left: 30px;
      display: none;
    }
  }

  nav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    // justify-content: flex-start;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 10px 0;

    div {
      flex: 1;
      height: 30px;
      align-items: center;
      font-weight: 900;
      text-decoration: none;
      display: flex;

      &:hover {
        cursor: pointer;
      }

      @media (max-width: 480px) {
        & {
          flex: 0;
        }
      }
    }

    ul {
      list-style-type: none;
      display: flex;
      padding: 0;
      margin: 0;
      text-align: right;

      @media (max-width: 480px) {
        & {
          font-size: 0.8rem;
        }
      }

      &:hover {
        cursor: pointer;
      }

      li {
        align-items: center;
        margin-left: 5px;
        padding: 10px 20px;
        display: flex;
      }

      @media (max-width: 480px) {
        li {
          padding: 0 5px;
          margin-left: 0;
          font-size: 0.8rem;
        }
      }
    }
  }
}

.buttonRegister {
  align-items: center;
  margin-left: 5px;
  padding: 10px 20px;
  display: flex;
  font-family: var(--font-family-main);
  font-weight: 200;
  border: none;
  background-color: transparent;
  z-index: 10;
  transition: transform 0.3s ease, font-weight 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: none;
  }
}

.profileImage {
  border-radius: 150px;
  margin-left: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  object-fit: cover;
}

.profileLink {
  display: flex;

  @media screen and (max-width: 480px) {
    z-index: 10;
  }

  .profileLinkName {
    margin-top: 15px;
  }
}

.nav {
  display: flex;
  align-items: center;
  background-color: transparent;
  width: 30%;

  @media screen and (max-width: 480px) {
    position: fixed;
    flex-direction: column;
    background-color: white;
    left: -100%;
    top: 0%;
    height: 100vh;
    // width: 100vh;
    padding-rigth: 60px;
    z-index: 3;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    &Open {
      transition: 0.5s ease-in-in;
      left: 0;
    }
  }

  .navLinks {
    // display: flex;
    font-weight: 200;
    justify-content: center;

    @media screen and (max-width: 480px) {
      gap: 50px;
      height: 100vh;
      flex-direction: column;
      text-align: left;
      border: none;
      font-size: 1.5rem;
      margin-left: 100px;
      background: white;
      width: 100vw;
      padding-top: 100px;
      display: inline-grid;
      grid-template-rows: 10px 10px 10px 100%;
      position: absolute;
    }

    li {
      display: inline-block;
      position: relative;
      transition: color 0.3s ease;
      font-size: 1rem;

      &:hover {
        color: var(--main-accent-color);
      }

      &:hover::before {
        transform: scaleX(1);
      }
    }

    // li::after {
    //   content: '';
    //   position: absolute;
    //   width: 80%;
    //   transform: scaleX(0);
    //   height: 2px;
    //   bottom: 12px;
    //   left: 10px;
    //   margin: 0 auto;
    //   background-color: var(--main-accent-color);
    //   transform-origin: bottom right;
    //   transition: transform 0.2s ease-out;

    //   @media screen and (max-width: 480px) {
    //     display: none;
    //   }
    // }

    // li:hover::after {
    //   transform: scaleX(1);
    //   transform-origin: bottom left;
    // }
  }
}

.hamburgerIcon {
  display: none;

  @media screen and (max-width: 480px) {
    margin-left: 30px;
    margin-top: 10px;
    display: flex;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 4;
    font-size: 1.5rem;
    // width: 30%;
    align-items: flex-start;
  }
}
