.messages {
  margin: 30px;

  .rightContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .right {
      display: flex;
      justify-content: flex-end;
      // justify-content: end;
      background-color: var(--main-accent-color);
      color: var(--primary-accent-color);
      padding: 10px 15px;
      border-radius: 50px;
      width: fit-content;
      float: right;
      margin-bottom: 3px;
    }
  }

  .left {
    margin-left: 20px;
    justify-content: flex-start;
    display: flex;
    // justify-content: start;
    padding: 10px 15px;
    margin-bottom: 3px;
    border: 1px solid var(--primary-accent-color);
    border-radius: 50px;
    color: var(--primary-accent-color);
    width: fit-content;
  }
}
