.list {
  background-color: #f5f5f5;
  display: block;
  margin-top: 50px;

  .dataContainer {
    display: flex;
    justify-content: space-between;

    .data {
      display: flex;
      margin-top: 30px;

      .name {
        text-align: center;
        margin-top: 20px;
        margin-left: 10px;

        @media (max-width: 480px) {
          & {
            margin-top: 20px;
            margin-left: 20px;
          }
        }
      }

      .buttonName {
        border: none;
        background-color: transparent;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .userImage {
      border-radius: 150px;
      margin: 10px 0 0 30px;
      text-align: center;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

      @media (max-width: 480px) {
        & {
          margin-left: 30px;
          width: 50px;
          height: 50px;
        }
      }
    }

    .editIcon {
      float: right;
      padding: 20px;
    }
  }
}

@media (max-width: 480px) {
  .list {
    padding-bottom: 20px;
    margin-top: 0;
  }
}

.chat {
  justify-content: space-between;
  margin-top: 100px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  @media (max-width: 480px) {
    & {
      margin-top: 20px;
    }
  }
}

.availability {
  background-color: green;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: -10px;
  width: 15px;
  height: 15px;
}

.messages {
  padding-right: 30px;
  flex: 1;
  height: 630px;
  overflow-y: scroll;
}

.list.mobileOpen {
  display: none;
}

.chat.mobileOpen {
  display: block;
}
