.form {
  @media (max-width: 480px) {
    p {
      width: 70%;
    }
  }

  .upload {
    position: absolute;
    margin-top: 150px;
    margin-left: -350px;

    @media (max-width: 480px) {
      & {
        margin-top: -150px;
        margin-left: -90px;
      }
    }
  }
}

@media (max-width: 480px) {
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
