.form {
  @media (max-width: 480px) {
    p {
      width: 70%;
    }
  }

  .uploadContainer {
    margin-top: 290px;
    margin-left: -145px;

    label {
      padding: 5px 30px;
      color: var(--primary-accent-color);
      border-radius: 50px;
      border: 1px solid var(--primary-accent-color);
      text-align: center;
      font-size: 0.8rem;

      &:hover {
        cursor: pointer;
      }
    }

    @media (max-width: 480px) {
      & {
        margin-top: -150px;
        margin-left: -90px;
      }
    }
  }

  @media (max-width: 480px) {
    .uploadContainer {
      margin-top: 0;
      margin-left: -3px;
    }
  }

  .upload {
    display: none;
  }
}

@media (max-width: 480px) {
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
