.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;

  label {
    margin-bottom: 5px;
    font-weight: bold;
  }

  input {
    margin-bottom: 10px;
    padding: 10px 30px;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 4px;
    outline: none;
    color: var(--main-color);
  }

  input:focus {
    outline: none !important;
    border: 1px solid var(--main-accent-color);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  textarea {
    // background: url('/images/chat.svg') center center no-repeat;
    border: 1px solid #888;
    height: 150px;
    line-height: 30px;
    padding: 10px;
    border-color: hsl(0, 0%, 80%);
    border-radius: 4px;
  }

  textarea:focus {
    outline: none !important;
    border: 1px solid var(--main-accent-color);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    // box-shadow: 0 0 10px #719ece;
  }

  .select {
    margin-top: 10px;
    color: var(--primary-accent-color);
  }

  .buttonCreate {
    padding: 10px 20px;
    background-color: var(--main-accent-color);
    color: var(--primary-accent-color);
    border-radius: 50px;
    border: none;
    margin-top: 20px;
    text-align: center;

    &:hover {
      cursor: pointer;
    }
  }

  .buttonEdit {
    padding: 10px 20px;
    background-color: var(--main-accent-color);
    color: var(--primary-accent-color);
    border-radius: 50px;
    border: none;
    margin-top: 20px;
    text-align: center;

    &:hover {
      cursor: pointer;
    }
  }
}

.profileData {
  margin: 10px 0 20px 0;
  color: var(--primary-accent-color);
  font-weight: 200;
}
