.profileContainer {
  display: flex;
  justify-content: space-around;
  flex: auto;

  @media (max-width: 480px) {
    & {
      display: block;
    }
  }

  .name {
    text-align: center;
    font-size: 1.125rem;
    font-weight: bold;

    @media (max-width: 480px) {
      & {
        margin-top: 20px;
        margin-left: 20px;
      }
    }
  }

  .userImage {
    border-radius: 150px;
    text-align: center;
    margin-top: -30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    @media (max-width: 480px) {
      & {
        margin-top: -50px;
        margin-left: 60px;
        width: 150px;
        height: 150px;
      }
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // padding: 30px;
  margin-top: 50px;
  width: 40%;

  @media (max-width: 480px) {
    & {
      width: auto;
      padding: 30px;
    }
  }

  label {
    margin-bottom: 5px;
    font-weight: bold;
  }

  input {
    margin-bottom: 10px;
    padding: 10px 30px;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 4px;
    outline: none;
    color: var(--main-color);
  }

  input:focus {
    outline: none !important;
    border: 1px solid var(--main-accent-color);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  textarea {
    // background: url('/images/chat.svg') center center no-repeat;
    border: 1px solid #888;
    margin-bottom: 10px;
    height: 150px;
    line-height: 30px;
    padding: 10px;
    border-color: hsl(0, 0%, 80%);
    border-radius: 4px;
  }

  textarea:focus {
    outline: none !important;
    border: 1px solid var(--main-accent-color);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    // box-shadow: 0 0 10px #719ece;
  }

  .select {
    margin-top: 10px;
    color: var(--main-accent-color);

    .select:focus {
      outline: none !important;
      border: 1px solid var(--main-accent-color);
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
  }

  .interestsTitle {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .buttonCreate {
    padding: 10px 20px;
    background-color: var(--main-accent-color);
    color: var(--primary-accent-color);
    border-radius: 50px;
    border: none;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 30px;

    &:hover {
      cursor: pointer;
    }
  }

  .buttonEdit {
    padding: 10px 20px;
    background-color: var(--main-accent-color);
    color: var(--primary-accent-color);
    border-radius: 50px;
    border: none;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 30px;

    &:hover {
      cursor: pointer;
    }
  }
}

.profileData {
  color: var(--primary-accent-color);
  font-weight: 200;
  margin-bottom: 30px;
}

.categoriesTitle {
  padding: 5px 10px;
  color: var(--primary-accent-color);
  border-radius: 50px;
  border: 1px solid var(--primary-accent-color);
  margin-top: 10px;
  text-align: center;
}

.link {
  align-items: center;
  margin-left: 5px;
  padding: 10px 20px;
  display: flex;
  font-size: 1.125rem;
  font-weight: bold;
  border: none;
  background-color: transparent;
  padding-bottom: 50px;

  &:hover {
    cursor: pointer;
  }
}
