@import url('https://fonts.googleapis.com/css2?family=Ma Shan Zheng&family=Poppins:wght@400;500;600;700&family=Montserrat&display=swap');

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --font-family: 'Montserrat', 'Arial', 'Times New Roman' sans-serif;
  --font-family-main: Poppins, sans-serif;
  --font-family-logo: Ma Shan Zheng, sans-serif;

  --main-color: #191919;
  --primary-text-color: #999999;
  --secondary-text-color: #d9d9d9;
  --main-accent-color: #6bd9ec;
  --primary-accent-color: #324b4f;
  --secondary-accent-color: #95b0b5;

  --mobileS: 320px;
  --mobileM: 375px;
  --mobileL: 425px;
  --tablet: 768px;
  --laptop: 1024px;
  --desktop: 1440px;

  --rad: 10rem;
  --dur: 0.3s;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --color-brand: #57bd84;
  --height: 3rem;
  --btn-width: 3rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

body {
  width: auto;
  height: auto;
  font-family: var(--font-family-main);
  color: var(--main-color);
  min-height: 100vh;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

h1 {
  font-family: var(--font-family);
}
