.heroContainer {
  display: flex;
  padding: 50px;

  .heroContainerText {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;

    .heroH1 {
      font-weight: bold;
      font-size: 2rem;
      line-height: 40px;
    }

    .heroPar {
      line-height: 40px;
    }

    .heroButton {
      padding: 10px 20px;
      background-color: var(--main-accent-color);
      color: var(--primary-accent-color);
      border-radius: 50px;
      border: none;

      .heroButton:hover {
        cursor: pointer;
      }
    }
  }
}

.aboutUsContainer {
  padding: 50px;
  margin: 0 auto;
  width: 85%;
  text-align: center;

  h3 {
    text-align: center;
    width: 10%;
    margin: 0 auto;
    border-bottom: 3px solid var(--main-accent-color);
  }

  p {
    margin-top: 30px;
    line-height: 30px;
    letter-spacing: 1px;

    span {
      color: var(--main-accent-color);
      font-weight: bold;
    }
  }
}

.benefitsContainer {
  padding: 50px;
  margin: 0 auto;
  width: 90%;
  text-align: center;

  h3 {
    text-align: center;
    text-align: 2rem;
    width: 10%;
    margin: 0 auto;
    border-bottom: 3px solid var(--main-accent-color);
  }

  .benefits {
    display: flex;
    padding: 50px;
  }

  .reverse {
    flex-direction: row-reverse;
    padding: 50px 50px 50px 0;
  }

  .benefitsText {
    display: block;
    text-align: left;
    padding: 50px;
  }
}

.popup {
  display: flex;
  justify-content: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.overlay {
  background-color: #999999;
}

.image {
}
