.containerLogIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 70px;
  position: absolute;
  border-radius: 10px;
  margin-top: 30px;

  .closeIcon {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px 20px 0 0;

    &:hover {
      cursor: pointer;
    }
  }

  div {
    .textAccount {
      color: var(--main-accent-color);
      font-weight: bold;
      font-size: 1.5rem;
      text-align: center;
    }

    .buttons {
      display: flex;
      justify-content: center;
      align-items: center;

      .buttonRight {
        margin-left: 10px;
      }

      .link {
        padding: 10px 20px;
        color: var(--primary-accent-color);
        border-radius: 50px;
        margin-top: 30px;
        font-size: 0.8rem;
        border: 1px solid var(--primary-accent-color);
        background-color: white;
        margin-bottom: 30px;

        &:hover {
          cursor: pointer;
          transition: 0.3s ease-in;
          color: var(--main-accent-color);
        }
      }
    }
  }

  .form {
    display: grid;

    label {
      margin-bottom: 5px;
      margin-top: 20px;
    }

    input {
      padding: 10px 30px;
      font-size: 1.125rem;
      border: 1px solid var(--primary-text-color);
      width: 350px;
    }

    input:focus {
      outline: none !important;
      border: 1px solid var(--main-accent-color);
    }

    .errorContainer {
      display: flex;

      .icon {
        width: 10px;
        color: red;
        margin-left: 5px;
      }
      .errorMessage {
        color: red;
        font-size: 0.6rem;
        margin-top: 5px;
      }
    }
  }

  .buttonLogIn {
    padding: 10px 20px;
    background-color: var(--main-accent-color);
    color: var(--primary-accent-color);
    border-radius: 50px;
    border: none;
    margin-top: 20px;

    &:hover {
      cursor: pointer;
    }
  }
}
