.signup {
  float: none;
  min-height: 100vh;
  background: url(https://res.cloudinary.com/prod/image/upload/f_auto,q_auto/registration-and-sign-up/page-background.png)
    center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}
