.containerSignUp {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 70px;
  position: absolute;
  border-radius: 10px;
  margin-top: 30px;

  @media screen and (max-width: 480px) {
    padding: 50px;
  }

  .closeIcon {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px 20px 0 0;

    &:hover {
      cursor: pointer;
    }
  }

  div {
    .textCreateAccount {
      color: var(--main-accent-color);
      font-weight: bold;
      font-size: 1.5rem;
      text-align: center;
    }

    .buttons {
      display: flex;
      justify-content: center;
      align-items: center;

      .link {
        padding: 10px 20px;
        color: var(--primary-accent-color);
        border-radius: 50px;
        margin-top: 30px;
        font-size: 0.8rem;
        border: 1px solid var(--primary-accent-color);
        background-color: white;
        margin-bottom: 30px;

        &:hover {
          cursor: pointer;
          transition: 0.3s ease-in;
          color: var(--main-accent-color);
        }
      }

      .buttonRight {
        margin-left: 10px;
      }
    }
  }

  .form {
    display: grid;

    label {
      margin-bottom: 5px;
      margin-top: 20px;
    }

    input {
      padding: 10px 30px;
      font-size: 1.125rem;
      border: 1px solid var(--primary-text-color);
      width: 250px;

      @media screen and (max-width: 480px) {
        width: 250px;
      }
    }

    input:focus {
      outline: none !important;
      border: 1px solid var(--main-accent-color);
    }

    .icon {
      width: 10px;
      color: red;
      margin-left: 5px;
    }

    .errorContainer {
      color: red;
      font-size: 0.6rem;
      margin-top: 5px;

      p {
        display: contents;
      }

      .errorMessage {
        display: grid;
      }
    }

    .correctContainer {
      display: flex;

      .icon {
        width: 10px;
        color: green;
        margin-left: 5px;
      }

      .correctMessage {
        color: green;
        font-size: 0.6rem;
        margin-top: 5px;
      }
    }
  }

  .buttonRegister {
    padding: 10px 20px;
    background-color: var(--main-accent-color);
    color: var(--primary-accent-color);
    border-radius: 50px;
    border: none;
    margin-top: 20px;

    &:hover {
      cursor: pointer;
    }
  }
}

.spinner {
  padding: 5px 10px;

  .loader {
    color: var(--primary-accent-color);
    font-size: 3px;
    width: 5px;
    height: 5px;
    margin-left: 170px;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }

  @-webkit-keyframes load4 {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
        0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
        0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
        0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
        0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
        0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
        0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em,
        2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em,
        -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
        0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  }
  @keyframes load4 {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
        0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
        0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
        0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
        0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
        0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
        0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em,
        2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em,
        -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
        0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  }
}
